{% extends 'base.html' %}
{% block head_title %} {{ event.title }} {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col card1 shadow center">
        <img src="{{ event.banner.url }}" class="card-img-top" alt="{{ event.title }}">
        <div class="card-body">
            <h4 class="card-title">{{ event.title }}</h4>
            <div>
                <div class="text-left">
                    <p class="card-text">Host : {% if event.host.logo %}<img src="{{event.host.logo.url}}"style="width:100px;">{% else %}{{ event.host.name }}{% endif %}</p>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text">Type : {{ event.sport }}</p>
                    <p class="card-text">Location : {{ event.location }}, {{ event.city }}</p>
                    <p class="card-text">Date : {{ event.date|date }}</p>
                    <p class="card-text">Time : {{ event.time|time }}</p>
                    <p class="card-text">Registration Type : {% if event.team_event %}Team{% else %}Individual{% endif %}</p>
                    <p class="card-text">Price : {% if price %}{{ event.price }}{% else %} Free {% endif %}</p>
                </div>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if event.team_event %}
                        {% if teams_managed %}
                            <div>
                                {% if teams_registered %}
                                    {% for i in teams_registered.all %}
                                        <p>{% if i.logo %} <img src="{{ i.logo.url }}" class="team_logo"> {% endif %}{{ i.name }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <form action="{% url 'register_team' event.id %}" method="post">
                                {% csrf_token %}
                                <p>
                                    <div class="form-group">
                                        <label for="team_select">Team</label>
                                        <select class="form-control" id="team_select" name="team_select">
                                            {% for i in teams_managed %}
                                                <option value="{{ i.pk }}">
                                                    {{ i.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </p>
                                <p>
                                    <button type="submit" class="btn btn-block center yellow-button">Register Team</button>
                                </p>
                            </form>
                            <p>
                                <a href="{% url 'team_builder' %}" ><button class="btn  btn-block blue-button">Build a Team</button></a>
                            </p>
                            <p>
                                <a href="{% url 'teams' %}" ><button class="btn  btn-block blue-button">Join a Team</button></a>
                            </p>
                        {% else %}
                            <p> If you are a meber of an existing team, Please ask your team manager to register the team  </p>
                            <p> OR</p>
                            <a href="{% url 'team_builder' %}" ><button class="btn btn-block blue-button">Build a team</button></a>
                        {% endif %}
                    {% else %}
                        {% if registered == True %}
                            <!-- can not unregister by self for paid event -->
                            {% if event.price %}
                                <p><b>You have already registered to this event!</b></p>
                            {% else%}
                            <!-- Unregister -->
                                <a href="{% url 'unregister' event.id %}"><button class="btn btn-danger">Unregister</button></a>
                            {% endif %}
                        {% else %}
                            {% if profile %}
                                <a href="{% url 'register' event.id %}"><button class="btn yellow-button">Register</button></a>
                            {% else %}
                                <a href="{% url 'profileView' %}"><button class="btn btn-warning">Please Complete Your Profile First</button></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <a href="{% url 'account_login' %}"><button class="btn blue-button">Login to Register</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}